.makiswar-devise {
  background: image-url('bg-alt.gif');
}

.card-bg-1 {
  background: #f1b045;
  padding: 30px;
  border-radius: 3px;
  & .back-button {
    top: 30px;
    left: 30px;
  }
  & h2 {
    margin-top: 50px;
  }
  & .text-white-shadow {
    letter-spacing: 2px;
    text-shadow: none;
  }
  & .form-control {
    background: #f2e2b5;
    border: 2px solid white;
    font-size: 20px;
    padding: 30px 10px;
    margin-bottom: 10px;
  }
  & .confirm-action {
    width: 100%;
    border: 2px solid white;
    padding: 20px 10px;
    background: #d77947;
    color: white;
    font-size: 22px;
  }
}

.bad-links {
  margin-top: 10px;
  font-size: 16px;
  & a:hover, a:focus {
    color: #d77947;
  }
}
