.makiswar-devise {
  background: image-url('bg-alt.gif');
}

.devise-registrations-edit, .usernames-new, .devise-registrations-new, .devise-sessions-new {
  height: 100%;

  body {
    height: 100%;
  }

  .makiswar-devise {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.card-bg-1 {
  background: #f1b045;
  padding: 30px;
  border-radius: 3px;
  & .back-button {
    top: 30px;
    left: 30px;
  }
  & h2 {
    margin-top: 50px;
  }
  & .text-white-shadow {
    letter-spacing: 2px;
    text-shadow: none;
  }
  & .form-control {
    background: #f2e2b5;
    height: 60px;
    border: 2px solid white;
    font-size: 20px;
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  & .confirm-action {
    width: 100%;
    border: 2px solid white;
    padding: 20px 10px;
    background: #d77947;
    color: white;
    font-size: 22px;
  }
}

.bad-links {
  margin-top: 10px;
  font-size: 16px;
  & a {
    color: white;
    & a:hover, a:focus {
    color: #d77947;
    }
  }
}

.makiswar-not-connected{
  padding-top: 4em;
}

@media screen and (max-width: 640px) {
.makiswar-not-connected{
  padding-top: 1.5em;
  }
}

#baby-img {
  width: 40%;
  margin: auto;
  display: block;
}

#hereisyourmaki{
  font-size: 27px;
}
