#defender-name {
  position: absolute;
  right: 41%;
  top: 26%;
  font-size: 24px;
  text-align: right;
}

#attacker-name {
  position: absolute;
  left: 56%;
  top: 86%;
  font-size: 30px;
}

.attacker {
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 50%;
}

.defender {
  position: absolute;
  top: 26%;
  right: 30px;
  height: 38%;
}

.lifebar {
  position: absolute;
  top: 19%;
  right: 14%;
  width: 20%;
}

#after-attack-message {
  padding: 4px 16%;
  background: white;
  border-color: #929292;
  border-width: 5px;
  border-style: outset;
  color: black;
  position: relative;
  margin: auto;
  top: 84%;
  width: 95%;
}

.the-fight {
  background: #282828;
  max-height: 300px;
  box-shadow: 0px -6px 5px 0px rgba(0, 0, 0, 0.21);
  & .weapon-options {
    position: relative;
    max-height: 300px;
    width: 10em;
    text-align: center;
    padding-top: 9px;
    margin-right: -9px;
    cursor: pointer;
    display: inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
    h2 {
      font-size: 1.4em;
      margin-top: 48px;
    }
    h3 {
      font-size: 1.2em;
    }
  }
}

#ko {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: black;
  text-align:center;
  padding-top: 20%;
  z-index: 4;
  img {
    width: 48%;
  }
}

#killed {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: $info;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
  text-align:center;
  padding-top: 20%;
  h1{
    font-size: 129px;
  }
  z-index: 4;
  a:hover {
    color:black;
  }
}
