.my-profile-main {
  background: image-url('fight/fightscene.jpg');
  background-size: cover;
  width: 100%;
  & .maki-in-landscape{
    & #crew-profile {
      position: absolute;
      width: 15%;
      top: 10px;
      right: 20px;
    }
    & #maki-avatar {
      width: 40%;
    }
    & .profile-info-crew {
      position: relative;
      top: 25%;
      list-style: none;
      padding: 0px;
      & h2 {
        margin: 10px;
      }
    }
  }
  .my-items-list {
    background: rgba(0,0,0,0.9);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 8%;
    overflow-y: scroll;
    z-index: 4;
    & h3 {
      color: white;
      text-align: center;
    }
    & table.item-table {
      width: 80%;
      position: relative;
      margin: auto;
      & .thumb {
        height: 30%;
        margin-top: -50px;
      }
      & tbody>tr>td.vert-align {
        color: white;
        vertical-align: middle;
        border-top: 1px solid white;
        padding: 20px 0px;
        & .my-items-details {
          list-style: none;
          padding: 0px 0px 0px 20px;
          padding-left: 2em;
          & .title {

          }
          & .content {
            font-size: 16px;
            & .mini {
              width: 8%;
              margin: -2px;
              margin-top: -3px;
            }
          }
        }
      }
    }
  }
}

.my-profile-menu {
  background: #282828;
  max-height: 300px;
  position: relative;
  max-height: 300px;
  cursor: pointer;
  box-shadow: 0px -6px 5px 0px rgba(0, 0, 0, 0.21);
  & .my-account {
    float: left;
    background: #f1b045;
    width: 50%;
    height: 100%;
    & a:hover, a:focus {
      color: inherit;
    }
  }
  & .my-items {
    float: right;
    background: #d77947;
    width: 50%;
    height: 100%;
  }
  & .clear {
    clear: both;
  }
}

.greytitle {
  color: grey;
}

.align-items-profile{
    position: absolute;
    left: -0.3em;
}

.drop-holder{
  position: relative;
}


