.recap {
  color: white;
  background: black;
  height: 100%;
  padding: 5% 10%;
  text-align: center;
  overflow-y: scroll;
  h3 {
    padding-bottom: 20px;
  }
}

.action {
  background: $info;
  text-align: center;
  padding: 10%;
  max-height: 280px;
}

.tutostory {
  padding: 29% 4%;
}

// mobile
@media screen and (max-width: 640px) {
.tutostory {
  padding: 1% 4%;
}
}

.crew-change {
  height: 50%;
}

.event-logo {
  height: 1em;
  padding-bottom: 0.2em;
}

#resurrect {
  width: 100%;
  color: black;
  background: white;
  text-shadow: none;
  padding: 22px 13%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 22px 13%;
  margin-top: 3em;
}

