#life-holder{
  position: absolute;
  top: -11px;
  left: -14px;
  text-align: right;
  width: 20%;
  padding-top: 19px;
  padding-left: 0%;
  padding-right: 7%;
  cursor: default;
}

#heart{
  width: 50%;
}

#life{
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 48%;
  padding-left: 105%;
  padding-right: 0;
  z-index: 3;
  font-size: 1em;
}

#soja{
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 90%;
  padding-top: 63%;
  padding-left: 46%;
  z-index: 3;

}

#jauge{
  width: 74%;
}

#jauge-holder{
  position: absolute;
  top: -10px;
  right: 0px;
  text-align: right;
  width: 20%;
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 5%;
  cursor: default;
}



.cell{
  width: 20%;
  float:left;
  &#player {
    &.babyrice {
      background: image-url('babyrice.gif');
      background-size: cover;
      &.item {
        background: image-url('babyrice.gif'), image-url('on_item.gif');
        background-size: cover;
      }
      &.selected {
        background: image-url('babyrice.gif'), image-url('selected-player.png');
        background-size: cover;
        &.item {
          background: image-url('babyrice.gif'), image-url('on_item.gif'), image-url('selected-player.png');
          background-size: cover;
        }
      }
    }
    &.salmon {
      background: image-url('salmon.gif');
      background-size: cover;
      &.item {
        background: image-url('salmon.gif'), image-url('on_item.gif');
        background-size: cover;
      }
      &.selected {
        background: image-url('salmon.gif'), image-url('selected-player.png');
        background-size: cover;
        &.item {
          background: image-url('salmon.gif'), image-url('on_item.gif'), image-url('selected-player.png');
          background-size: cover;
        }
      }
    }
    &.avocado {
      background: image-url('avocado.gif');
      background-size: cover;
      &.item {
        background: image-url('avocado.gif'), image-url('on_item.gif');
        background-size: cover;
      }
      &.selected {
        background: image-url('avocado.gif'), image-url('selected-player.png');
        background-size: cover;
        &.item {
          background: image-url('avocado.gif'), image-url('on_item.gif'), image-url('selected-player.png');
          background-size: cover;
        }
      }
    }
    &.bastardo {
      background: image-url('bastardo.gif');
      background-size: cover;
      &.item {
        background: image-url('bastardo.gif'), image-url('on_item.gif');
        background-size: cover;
      }
      &.selected {
        background: image-url('bastardo.gif'), image-url('selected-player.png');
        background-size: cover;
        &.item {
          background: image-url('bastardo.gif'), image-url('on_item.gif'), image-url('selected-player.png');
          background-size: cover;
        }
      }
    }
  }
  &.maki {
    &.babyrice {
      background: image-url('babyrice.gif');
      background-size: cover;
      &.item {
        background: image-url('babyrice.gif'), image-url('on_item.gif');
        background-size: cover;
      }
      &.selected {
        background: image-url('babyrice.gif'), image-url('selected-fight.png');
        background-size: cover;
        &.item {
          background: image-url('babyrice.gif'), image-url('on_item.gif'), image-url('selected-fight.png');
          background-size: cover;
        }
      }
    }
    &.salmon {
      background: image-url('salmon.gif');
      background-size: cover;
      &.item {
        background: image-url('salmon.gif'), image-url('on_item.gif');
        background-size: cover;
      }
      &.selected {
        background: image-url('salmon.gif'), image-url('selected-fight.png');
        background-size: cover;
        &.item {
          background: image-url('salmon.gif'), image-url('on_item.gif'), image-url('selected-fight.png');
          background-size: cover;
        }
      }
    }
    &.avocado {
      background: image-url('avocado.gif');
      background-size: cover;
      &.item {
        background: image-url('avocado.gif'), image-url('on_item.gif');
        background-size: cover;
      }
      &.selected {
        background: image-url('avocado.gif'), image-url('selected-fight.png');
        background-size: cover;
        &.item {
          background: image-url('avocado.gif'), image-url('on_item.gif'), image-url('selected-fight.png');
          background-size: cover;
        }
      }
    }
    &.bastardo {
      background: image-url('bastardo.gif');
      background-size: cover;
      &.item {
        background: image-url('bastardo.gif'), image-url('on_item.gif');
        background-size: cover;
      }
      &.selected {
        background: image-url('bastardo.gif'), image-url('selected-fight.png');
        background-size: cover;
        &.item {
          background: image-url('bastardo.gif'), image-url('on_item.gif'), image-url('selected-fight.png');
          background-size: cover;
        }
      }
    }
  }
  &.welcome.selected {
    background: image-url('selected-move.png');
    background-size: cover;
    &.item {
      background: image-url('item.png'), image-url('selected-move.png');
      background-size: cover;
    }
  }
  &.outta-world {
    border: none;
    background: image-url('water3.gif');
    background-size: cover;
    &.selected {
      background: image-url('shark.gif'), image-url('water3.gif');
      background-size: cover;
    }
    &.around-selection {
      background: image-url('water3.gif');
      background-size: cover;
    }
  }
  &.selected {
    background: image-url('selected-nothing.png');
    background-size: cover;
  }
  &.item {
    background: image-url('item.png');
    background-size: cover;
    &.selected {
      background: image-url('item.png'), image-url('selected-nothing.png');
      background-size: cover;
    }
  }
}

.news-info {
  padding: 20px;
}

.cell-info {
  padding: 20px;
}

.info-bottom {
  background-color: $info;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
  max-height: 300px;
  box-shadow: 0px -6px 5px 0px rgba(0, 0, 0, 0.21);
  & .new-move {
    background: #282828;
    max-height: 300px;
    & .transportation-options {
      position: relative;
      max-height: 300px;
      width: 10em;
      text-align: center;
      padding-top: 9px;
      margin-right: -9px;
      cursor: pointer;
      display: inline-block;
      *display:inline;/* For IE7*/
      *zoom:1;/* For IE7*/
      vertical-align:top;
      h2 {
        font-size: 1.4em;
        margin-top: 48px;
      }
      h3 {
        font-size: 1.2em;
      }
    }
  }
  & .my-maki {
    background: #282828;
    max-height: 300px;
    position: relative;
    max-height: 300px;
    cursor: pointer;
    & .my-profile {
      float: left;
      background: #f1b045;
      width: 50%;
      height: 100%;
    }
    & .search-item {
      float: right;
      background: #d77947;
      width: 50%;
      height: 100%;
    }
    & .grab-item {
      float: right;
      background: #d77947;
      width: 50%;
      height: 100%;
    }
    & .clear {
      clear: both;
    }
  }
}

.othermaki-info {
  h3{
  margin-top: 10px;
  margin-bottom: 16px;
  }
}

.attack-opponent {
  color: black;
  background: white;
  padding: 9px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 80%;
  margin-top: 0;
}

#emblem {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 0%;
}

.items-list {
  background: rgba(0,0,0,0.7);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding-top: 8%;
  overflow-y: scroll;
  z-index: 4;
  & h3 {
    color: white;
    text-align: center;
  }
  & table.item-table {
    width: 80%;
    position: relative;
    margin: auto;
    & .thumb {
      height: 30%;
    }
    & tbody>tr>td.vert-align {
      color: white;
      vertical-align: middle;
      border-top: 1px solid white;
      padding: 8px 0px;
    }
  }
}

.teleport{
  position: absolute;
  bottom: 16%;
  left: 28%;
  padding: 10px 41px;
}

#anchorman {
  width: 103%;
}

#anchorman-speech {
  margin-left: 1em;
}

#pin{
  position: absolute;
  top: 32%;
  left: 47%;
  height: 24px;
}
