.worldmap{
  background: image-url('bg.png');
  background-repeat: no-repeat;
}

#life{
  position: absolute;;
  top: 7px;
  left: 14px;
}

#soja{
  position: absolute;;
  top: 7px;
  right: 14px;
}

.cell{
  width: 20%;
  float:left;
  &#player {
    &.babyrice {
      background: image-url('baby.png');
      background-size: cover;
      &.selected {
        background: image-url('baby.png'), image-url('selected-nothing.png');
        background-size: cover;
      }
    }
    &.salmon {
      background: image-url('salmon.png');
      background-size: cover;
      &.selected {
        background: image-url('salmon.png'), image-url('selected-nothing.png');
        background-size: cover;
      }
    }
    &.avocado {
      background: image-url('avocado.png');
      background-size: cover;
      &.selected {
        background: image-url('avocado.png'), image-url('selected-nothing.png');
        background-size: cover;
      }
    }
    &.bastardo {
      background: image-url('bastardo.png');
      background-size: cover;
      &.selected {
        background: image-url('bastardo.png'), image-url('selected-nothing.png');
        background-size: cover;
      }
    }
  }
  &.maki {
    &.babyrice {
      background: image-url('baby.png');
      background-size: cover;
      &.selected {
        background: image-url('baby.png'), image-url('selected-fight.png');
        background-size: cover;
      }
    }
    &.salmon {
      background: image-url('salmon.png');
      background-size: cover;
      &.selected {
        background: image-url('salmon.png'), image-url('selected-fight.png');
        background-size: cover;
      }
    }
    &.avocado {
      background: image-url('avocado.png');
      background-size: cover;
      &.selected {
        background: image-url('avocado.png'), image-url('selected-fight.png');
        background-size: cover;
      }
    }
    &.bastardo {
      background: image-url('bastardo.png');
      background-size: cover;
      &.selected {
        background: image-url('bastardo.png'), image-url('selected-fight.png');
        background-size: cover;
      }
    }
  }
  &.welcome.selected {
    background: image-url('selected-move.png');
    background-size: cover;
  }
  &.outta-world {
    border: none;
    background: image-url('water3.gif');
    background-size: cover;
    &.selected {
      background: image-url('selected-border.png'), #5E5F66;
      background-size: cover;
    }
  }
  &.selected {
    background: image-url('selected-nothing.png');
    background-size: cover;
  }
}

.news-info {
  padding: 20px;
}

.cell-info {
  padding: 20px;
}

.info-bottom {
  background-color: #C6C6C6;
  max-height: 300px;
  & .new-move {
    background: #282828;
    max-height: 300px;
  }
}

.item-selection {
  background: #282828;
  max-height: 300px;
}

.item-1 {
  background: #3498db;
}

.item-2 {
  background: #e67e22;
}

.item-3 {
  background: #9b59b6;
}

.item-4 {
  background: #e74c3c;
}

.transportation-options {
  position: relative;
  max-height: 300px;
  width: 10em;
  margin-top: 6px;
  border-radius: 0px;
  text-align: center;
  padding-top: 9px;
  cursor: pointer;
  display:inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
  h2 {
    font-size: 1.4em;
    margin-top: 48px;
  }
  h3 {
    font-size: 1.2em;
  }
}

.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 80px;
  white-space:nowrap
}

.transportation-options-display {
  max-width: 100px;
  max-height: 100px;
  padding-top: 10px;
}

.confirm-move {
  color: black;
  background: white;
  padding: 5px 13%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 80%;
  margin-top: 1.5em;
}
