<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">

        <div class='top-menu'>
          <%= link_to t('component.back'), user_path, class:'btn btn-default' %>
          <h2>Collection</h2>
        </div>

      </div>
    </div>
  </div>
</div>
