/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
  font-family: 'VT323', ;
  font-size: 20px;
  background: linear-gradient(to left, #DAD299 , #B0DAB9);
  padding-top: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'VT323', ;
}

