/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 body {
  font-family: 'VT323', ;
  font-size: 20px;
 }
 h1 {
  font-family: 'VT323', ;
 }
h2 {
  font-family: 'VT323', ;
}
h3 {
  font-family: 'VT323', ;
}
