/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.bg-1 {
  background: #f2e2b5;
}

.bg-2 {
  background: #f1b045;
}

.bg-3 {
  background: #d77947;
}

.bg-4 {
  background: #668da5;
}

.confirm-action {
  border: 2px solid black;
  color: black;
  text-shadow: none;
  background: white;
  padding: 8px;
  width: 80%;
  margin-top: -6px;
}

.back-button {
  border: 2px solid white;
  color: white;
  padding: 3px 8px;
  position: absolute;
  top: 15px;
  left: 12px;
  &:hover{
    color:white;
  }
  &:active{
    color: white;
  }
  &:focus{
    color: white;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.text-white-shadow {
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.inline-block {
  display: inline-block;
}

.color-grey {
  color: grey;
}

.card-white-bg {
  background: white;
  padding: 30px;
  border-radius: 3px;
}

.info-text-box  {
  background: $info;
  border-radius: 3px;
  border: 2px solid white;
}

#grass-bg {
  background: image-url('fight/fightscene.jpg');
  background-size: cover;
  width: 100%;
}
