/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.bg-1 {
  background: #3498db;
}

.bg-2 {
  background: #e67e22;
}

.bg-3 {
  background: #9b59b6;
}

.bg-4 {
  background: #e74c3c;
}

.back-button {
  border: 1px solid white;
  position: absolute;
  top: 20px;
  left: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.text-white-shadow {
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.inline-block {
  display: inline-block;
}

.color-grey {
  color: grey;
}

.card-white-bg {
  background: white;
  padding: 30px;
  border-radius: 3px;
  margin-top: 50px;
}
